<section >
    <div class="container"></div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <h2 class="text-center">Add Products</h2>
            <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
                <label for="">Name</label>
                <input type="text" name="Name" class="form-control">

                <label for="">Category</label>
                <select name="Category" class="form-control">
                <option value="biography">Biography</option>
                <option value="classic">Classic</option>
                <option value="fiction">Fiction</option>
                <option value="horror">Horror</option>
                <option value="fantasy">Fantasy</option>
                </select>

                <label for="">Author</label>
                <input type="text" name="Author" class="form-control">

                <label for="">Price</label>
                <input type="number" name="Price" class="form-control">

                <label for="">Image</label>
                <input type="file" name="Image" class="form-control">
                
                <button type="submit" class="btn btn-success mt-4">Submit</button>

            </form>
        </div>
    </div>
</section>