
<div style=" position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    text-align: center;">
    <img src="https://www.nicepng.com/png/detail/322-3224210_your-cart-is-currently-empty-empty-shopping-cart.png" 
    style="height:15rem ;width:15rem">
    <br>
    <h3>Your Cart is Empty!</h3>
    <br>
    <input class="btn btn-primary" type="submit" value="Shop Now">

</div>
