<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">LOGIN</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label>E-mail Address</label>
                    <input type="email" class="form-control" name="Email" placeholder="E-mail">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                    
                </div>
                <a href="/signup">Create New Account</a>

                {{#if loginErr}}
                <p class="error" style="color:red">Invalid Username or Password</p>
                {{/if}}

                <button type="submit" class="btn btn-primary float-right">Login</button>
            </form>

        </div>

    </div>
</div>